body {
  margin: 0;
  padding: 0;
}

/* Body.jsx */
.backgroundHong{
  background-image: url('./images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Header.jsx */

/* Login.jsx */

/* MainLive.jsx */
table, th, td{
  border: 3px solid black;
  background-color: white;
}

.stableGreen{
  background-color: green;
}
.warningOrange{
  background-color: orange;
}
.warningRed{
  background-color: red;
}

.totalClimate{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.climateinfo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Signup.jsx */
