/* Body.jsx */

/* Header.jsx */

/* Login.jsx */

/* MainLive.jsx */
.table{
  border: 1px solid black;
}

.stableGreen{
  background-color: green;
}
.warningOrange{
  background-color: orange;
}
.warningRed{
  background-color: red;
}

.totalClimate{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.climateinfo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Signup.jsx */
